@charset "UTF-8";

// $black:#000 !default
// $primary:#ff0000 !default;
// $success: #ff22dd !default;
// $info:#666 !default;
// $warning: #5dffed !default;
// $danger: #44fdfd !default;

$border-dark: #a8a8a8 !default;
$border-base: #d1d7d7 !default;
$border-light: #e8e8e8 !default;;


// $font-family-ko: ;
// $font-family-en: ;
$font-weight-ko-light:  300 !default;
$font-weight-ko-medium: 500 !default;
$font-weight-ko-bold:   700 !default;

$font-weight-en-light:  200 !default;
$font-weight-en-bold:   800 !default;
$font-weight-en-black:  900 !default;