@charset "UTF-8";

$primary:#ff0000 !default;


// $font-family-ko: ;
// $font-family-en: ;
$font-weight-ko-light:  300 !default;
$font-weight-ko-medium: 500 !default;
$font-weight-ko-bold:   700 !default;
$font-weight-en-light:  200 !default;
$font-weight-en-bold:   800 !default;
$font-weight-en-black:  900 !default;